.dark-sky-weather-widget {
  .dark-sky-weather-container {
    text-align: center;
    width: 100%;
    clear: both;
    border: solid 1px #bababa;
    margin-bottom: 1em;
    border-radius: 10px;
  }

  .dark-sky-weather-icon {
    margin: 1em;
  }

  .dark-sky-summary {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .dark-sky-weather-temperature {
    font-size: 3rem;
    font-weight: bold;
  }

  .dark-sky-weather-conditions {
    font-size: 1rem;
  }

  .dark-sky-weather-attribution {
    margin-top: -1.5em;
    font-size: 0.5em;
    text-align: right;
  }
}
